* {
    margin: 0;
    padding: 0;
}

body {
    background: #000000;
}

main {
    display: block;
    position: absolute;

    left: 181px;
    top: 316px;

    background: url("/png/main.png");
    background-repeat: no-repeat;

    width: 788px;
    height: 376px;

    padding: 41.5px;
}

main h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    text-decoration: none;

    padding-bottom: 15px;
}

input {
    outline: none;
}

#background {
    position: relative;
    background: url("/png/background.png");
    width: 1272px;
    height: 1555px;

    margin-left: auto;
    margin-right: auto;
}

a.header {
    display: block;
    position: absolute;

    top: 14px;
    left: 104px;

    height: 167px;
    width: 135px;

    text-decoration: none;
}

a.parties {
    display: block;
    position: absolute;

    top: 58px;
    left: 297px;

    height: 121px;
    width: 104px;

    text-decoration: none;
}
a.genres {
    display: block;
    position: absolute;

    top: 50px;
    left: 431px;

    height: 132px;
    width: 104px;

    text-decoration: none;
}
a.artists {
    display: block;
    position: absolute;

    top: 51px;
    left: 546px;

    height: 129px;
    width: 123px;

    text-decoration: none;
}
a.albums {
    display: block;
    position: absolute;

    top: 50px;
    left: 687px;

    height: 134px;
    width: 102px;

    text-decoration: none;
}
a.forum {
    display: block;
    position: absolute;

    top: 50px;
    left: 814px;

    height: 132px;
    width: 140px;

    text-decoration: none;
}


.search {
    display: block;
    position: absolute;

    left: 273px;
    top: 235px;
    width: 680px;
    height: 24px;

    background: #000000;

    border: none;

    font-size: 13px;
    font-family: "Arial";
    font-weight: bold;
    color: #c8ff7c;

    padding-left: 6px;
    padding-right: 6px;

    line-height: 24px;
}

.search::-webkit-input-placeholder
{ 
    font-size: 13px;
    font-family: "Arial";
    font-weight: bold;
    color: #c8ff7c;
}
.search::-moz-placeholder
{ 
    font-size: 13px;
    font-family: "Arial";
    font-weight: bold;
    color: #c8ff7c;
}
.search:-moz-placeholder
{ 
    font-size: 13px;
    font-family: "Arial";
    font-weight: bold;
    color: #c8ff7c;
}
.search:-ms-input-placeholder
{
    font-size: 13px;
    font-family: "Arial";
    font-weight: bold;
    color: #c8ff7c;
}

#login {
    position: absolute;
    background: url("/png/background_login.png");

    left: 642px;
    top: 269px;
    width: 398px;
    height: 64px;
}

#user_name {
    font-size: 12px;
    font-family: "Arial";
    color: #f37021;
    line-height: 16px;

    position: absolute;
    left: 41px;
    top: 17px;

    width: 118px;
    height: 16px;

    padding-left: 3px;
    padding-right: 3px;

    background: none;

    border: none;
}

#user_name::-webkit-input-placeholder
{ 
    font-size: 12px;
    font-family: "Arial";
    color: #f37021;
}
#user_name::-moz-placeholder
{ 
    font-size: 12px;
    font-family: "Arial";
    color: #f37021;
}
#user_name:-moz-placeholder
{ 
    font-size: 12px;
    font-family: "Arial";
    color: #f37021;
}
#user_name:-ms-input-placeholder
{
    font-size: 12px;
    font-family: "Arial";
    color: #f37021;
}

#user_password {
    font-size: 12px;
    font-family: "Arial";
    color: #ed037c;
    line-height: 16px;
    position: absolute;
    left: 188px;
    top: 17px;

    width: 86px;
    height: 16px;

    padding-left: 6px;
    padding-right: 6px;

    background: none;

    border: none;
}
#user_password::-webkit-input-placeholder
{ 
    font-size: 12px;
    font-family: "Arial";
    color: #ed037c;
}
#user_password::-moz-placeholder
{ 
    font-size: 12px;
    font-family: "Arial";
    color: #ed037c;
}
#user_password:-moz-placeholder
{ 
    font-size: 12px;
    font-family: "Arial";
    color: #ed037c;
}
#user_password:-ms-input-placeholder
{
    font-size: 12px;
    font-family: "Arial";
    color: #ed037c;
}

#register {
  font-size: 11px;
  font-family: "Arial";
    text-decoration: none;
  color: #000000;
  position: absolute;
  left: 44px;
  top: 34px;
}

#sendpassword {
  font-size: 11px;
  font-family: "Arial";
    text-decoration: none;
  color: #000000;
  position: absolute;
  left: 194px;
  top: 34px;
}

#login_button {
  font-size: 14px;
  font-family: "Arial";
  text-decoration: none;
  color: #000000;
  position: absolute;
  left: 329px;
  top: 21px;
}

div.genres > div:first-child {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #D0B484;

    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #D0B484;

    vertical-align: middle;

    padding-top: 15px;
}

div.genres > div {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #D0B484;

    vertical-align: middle;

    padding-top: 15px;
}

div.genres > div > div:first-child {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
    
    vertical-align: top;
    text-align: center;
    
    padding-left: 30px;
    
    position: relative;
    width: 60px;
    
    display: inline-block;
}

div.genres > div > div:last-child {
    vertical-align: top;
    
    position: relative;
    width: 590px;
    
    display: inline-block;
}

div.genres > div > div:last-child > div {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #000000;
    text-decoration: none;
    
    line-height: 18px;
    vertical-align: top;
    
    padding-right: 30px;
    padding-bottom: 15px;
    padding-left: 30px;
    
    position: relative;
    width: 130px;
    
    display: inline-block;
}

div.genres > div > div:last-child > div a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    text-decoration: underline;
}

div.genres {
    width: 705px;

    margin-left: auto;
    margin-right: auto;
}